# editor
/nbproject/private/
/nbproject/
.project
.idea

# composer
#composer.lock
composer.phar
/vendor/
/cms/

# svn
.svn

# Ignore Mac DS_Store files
.DS_Store
._*
node_modules/

# linux backup files
*~

# markup
.sass-cache
node_modules
*.map
.tmp
*.psd

# wordpress configs and uploads
/.htaccess
/.env
/wp-content/themes/twentyseventeen/
/wp-content/uploads/*

# trusted plugins
/wp-content/mu-plugins/just-responsive-images/
/wp-content/mu-plugins/wordpress-theme-framework/

/wp-content/plugins/just-custom-fields/
/wp-content/plugins/just-tinymce-styles/
/wp-content/plugins/wordpress-importer/
/wp-content/plugins/duplicate-post/
/wp-content/plugins/regenerate-thumbnails/
/wp-content/plugins/seo-optimized-images/
/wp-content/plugins/wordpress-seo/
/wp-content/plugins/contact-form-7/
/wp-content/plugins/wp-mail-smtp/
